@font-face {
  font-family: rubikRegular-400;
  src: url(../Assets//Rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubikMedium-500;
  src: url(../Assets//Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikSemiBold-600;
  src: url(../Assets//Rubik/Rubik-SemiBold.ttf);
}
@font-face {
  font-family: rubikBold-700;
  src: url(../Assets//Rubik/Rubik-Bold.ttf);
}
@font-face {
  font-family: rethinkRegular-400;
  src: url(../Assets/Rethink_sans/RethinkSans-Regular.ttf);
}
@font-face {
  font-family: rethinkMedium-500;
  src: url(../Assets/Rethink_sans/RethinkSans-Medium.ttf);
}
@font-face {
  font-family: rethinkSemiBold-600;
  src: url(../Assets/Rethink_sans/RethinkSans-SemiBold.ttf);
}
@font-face {
  font-family: rethinkBold-700;
  src: url(../Assets/Rethink_sans/RethinkSans-Bold.ttf);
}
@font-face {
  font-family: rethinkExtraBold-800;
  src: url(../Assets/Rethink_sans/RethinkSans-ExtraBold.ttf);
}
p {
  margin-bottom: 0 !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Nuturals-N-1: #140000;
  --Nuturals-N-2: #262121;
  --Nuturals-N-3: #594e4e;
  --Nuturals-N-7: #fcfcfc;
  --Nuturals-N-6: #f2eded;
  --Nuturals-White: #fff;
  --Primary-Primary: #ad1519;
  --Ternary-Ternary: #140000;
  --NuturalsN-5: #bfb6b6;
  --secondary: #fee1e1;
  --Success-Success---Primary: #16ad38;
  --Secondary-Secondary: #fabd00;
}
html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit !important;
  cursor: pointer;
}
.navbar-toggle-container {
  width: 38px;
  background-color: rgba(128, 128, 128, 0.589);
  height: 100%;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  color: black;
}
::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Primary);
  border-radius: 0;
  height: 80px;
}

/* --------------------------------------------- navbar -------------------------------------------------- */
.navigationBar {
  background-color: var(--Nuturals-White);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  max-height: 80px;
  color: var(--Nuturals-N-1);
  box-shadow: 0px 0px 5px 0px rgba(20, 0, 0, 0.16);
}
.navigationBar .nav-list-container {
  margin: auto;
}
.navigationBar ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  margin-right: 1rem;
  align-self: center;
}
.navigationBar ul li {
  height: 100%;
  /* margin: 0px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationBar ul li a {
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikRegular-400;
  /* line-height: 80px; */
  padding: 0px 1.4rem;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  position: relative;
}
.navigationBar ul li a:hover .down-arrow-nav-absolute {
  opacity: 1;
}

.down-arrow-nav-absolute {
  position: absolute;
  right: 1.4rem;
  opacity: 0;
  transition: all 300ms;
}
.active-list {
  background-color: var(--secondary);
}
.active-list a {
  color: var(--Primary-Primary) !important;
  font-family: rubikSemiBold-600 !important;
}
.navigationBar ul li a:hover {
  color: var(--Primary-Primary) !important;
}
.down-arrow-nav {
  margin-left: 1rem;
}
.navigationBar .header-search-bar {
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
  cursor: pointer;
}

.navigationBar .changeTo-arabic-courses-box .arabic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.changeTo-arabic-courses-box {
  background-color: var(--Ternary-Ternary);
  padding: 0.438rem 0.5rem 0.438rem 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  height: 3rem;
  cursor: pointer;
}
.arabic-course-txt {
  color: var(--Nuturals-White);
  font-family: rubikRegular-400;
  font-size: 0.875rem;
  margin: 0 !important;
}
.navigationBar .navigation-bar-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end !important;
  margin-left: auto;
}
.logo-image {
  padding: 0.938rem 2rem 0.938rem 0;
}
.navigationBar .nav-list-container .nav-icon-toggler {
  display: none !important;
  margin-left: 1rem;
  position: relative;
  height: 100% !important;
}

.navigationBar .nav-icon-toggler p {
  color: #ad1519;
  height: 80px;
  padding: 0rem 1.25rem;
  text-align: center;
  font-family: rethinkExtraBold-800;
  background-color: var(--secondary);
  line-height: 80px;
}
.navigationBar .nav-icon-toggler svg {
  margin-left: 10px;
  height: 25px;
}
/* toggler items */
.navigationBar .nav-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  left: 0px;
  top: 81px;
  background-color: white;
  width: 30rem;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.navigationBar .nav-items-container .nav-toggler-item {
  padding: 20px 10px;
  border: 0.7px solid rgba(105, 105, 105, 0.39);
  text-align: center;
}
.navigationBar .nav-items-container .careers {
  grid-column: span 2;
  text-align: center;
}

.navigationBar .categories-dropdown-nav {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Nuturals-White);
  border: 1px solid var(--NuturalsN-5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  transition: 0.3s;
}
#categories-dropdown-collapse {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Nuturals-White);
  border: 1px solid var(--NuturalsN-5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  transition: 0.3s;
}
.navigationBar .categories-dropdown-nav .categories-dropdown-item {
  padding: 1rem 1rem 10px 0.7rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-right: 1px solid var(--NuturalsN-5); /* Add right border */
  border-bottom: 1px solid var(--NuturalsN-5); /* Add bottom border */
}
.navigationBar .categories-dropdown-nav .categories-dropdown-item:hover {
  color: var(--Nuturals-White);
  background-color: var(--Primary-Primary);
  cursor: pointer;
}
.navigationBar .categories-dropdown-nav::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Primary);
  border-radius: 1px;
  border: var(--Nuturals-N-6);
  width: 10px;
}
.navigationBar .categories-dropdown-nav::-webkit-scrollbar {
  width: 6px;
  border-radius: 1px;
  background-color: rgba(245, 227, 227, 0.2);
  border: 1px solid var(--Nuturals-N-6);
}

.navigationBar .cities-dropdown-nav {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Nuturals-White);
  border: 1px solid var(--NuturalsN-5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  transition: 0.3s;
}
.navigationBar .cities-dropdown-nav .cities-dropdown-item {
  padding: 1rem 3rem 10px 0.7rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-right: 1px solid var(--NuturalsN-5); /* Add right border */
  border-bottom: 1px solid var(--NuturalsN-5); /* Add bottom border */
}
.navigationBar .cities-dropdown-nav .cities-dropdown-item:hover {
  color: var(--Nuturals-White);
  background-color: var(--Primary-Primary);
  cursor: pointer;
}
.navigationBar .cities-dropdown-nav::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Primary);
  border-radius: 1px;
  border: var(--Nuturals-N-6);
  width: 10px !important;
}
.navigationBar .cities-dropdown-nav::-webkit-scrollbar {
  width: 6px !important;
  border-radius: 1px;
  background-color: rgba(245, 227, 227, 0.2);
  border: 1px solid var(--Nuturals-N-6);
}
.navigationBar ul li a svg {
  margin-left: 10px;
}
.navigationBar ul li a svg path {
  transition: all 0.5s;
}
.navigationBar ul li a:hover path {
  fill: var(--Primary-Primary) !important;
}

@media (1024px < width <1240px) {
  .logo-image {
    padding-right: 0.5rem;
    width: 148px;
  }
  .navigationBar .nav-list-container ul li a {
    padding: 0px 0.5rem;
  }
  .navigationBar {
    padding: 0px 0.6rem;
  }
}

@media (width<1025px) {
  .header-section {
    height: 70vh;
  }
  .navigationBar .nav-list-container ul {
    display: none;
  }
  .navigationBar {
    justify-content: space-between;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .nav-list-container .nav-icon-toggler {
    display: flex !important;
    margin-left: 1rem;
    margin: auto;
  }
  .navbar-home-item {
    max-height: 80px;
  }
  .navigationBar .header-search-bar {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
  }
  .navigationBar .nav-items-container {
    left: 50%;
    transform: translateX(-50%);
  }
  .navigation-bar-right-side {
    margin-left: 0 !important;
  }
  #categories-dropdown-collapse {
    width: 80%;
  }
}

@media (width<600px) {
  .navigationBar {
    padding: 0 0.5rem;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .nav-icon-toggler {
    margin: 0 !important;
    margin-right: 1px;
  }
  .logo-image {
    padding: 0.938rem 0rem 0.938rem 0;
  }
  .changeTo-arabic-courses-box p {
    display: none;
  }
  .navigationBar .header-search-bar {
    height: 3rem;
    width: 3rem;
    margin-right: 5px;
  }

  .navigationBar .nav-items-container {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (width<400px) {
  .navigationBar {
    padding: 0 0.1rem;
    max-height: 70px;
    /* overflow: hidden; */
  }
  .navigationBar .nav-list-container .nav-icon-toggler {
    max-height: 70px;
    overflow: hidden;
  }
  .nav-items-container {
    top: 71px !important;
  }
  .logo-image {
    width: 110px;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1rem;
  }
  .navigationBar .header-search-bar {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1px;
  }
  .changeTo-arabic-courses-box {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* --------------------------------------------------hero section ------------------------------------- */
.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 6rem;
}
.hero-background,
.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}
.hero-container {
  z-index: 99;
  position: relative;
  padding: 8rem 5rem 3rem;
  color: var(--Nuturals-N-7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header-first {
  font-family: rubikSemiBold-600;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 3.75rem;
  width: 54%;
  margin-bottom: 3rem;
}
.highlight-yellow {
  color: var(--Secondary-Secondary, #fabd00);
}
.heading-txt {
  /* font-family: rethinkSemiBold-600; */
  font-size: 1.25rem;
  margin-bottom: 0.75rem !important;
}
.available-jobs-container {
  border-radius: 1px;
  border: 0.5px solid var(--NuturalsN-5);
  width: 14.625rem;
  height: 3.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--NuturalsN-5);
  font-family: rubikMedium-500;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.offer-skills {
  margin-bottom: 5rem;
}
.or-yellow {
  margin-bottom: 2rem;
  width: 29%;
}
.hero-social-icons {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  padding-top: 3rem;
  z-index: 100;
}
.x-abslute,
.linked-abslute,
.facebook-abslute,
.instagram-abslute,
.youtube-abslute,
.whatsapp-abslute {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.hero-section .hero-social-icons .x,
.hero-section .hero-social-icons .linkedin,
.hero-section .hero-social-icons .facebook,
.hero-section .hero-social-icons .instagram,
.hero-section .hero-social-icons .youtube,
.hero-section .hero-social-icons .whatsapp {
  position: relative;
}
.hero-section .hero-social-icons .x:hover .x-abslute,
.hero-section .hero-social-icons .linkedin:hover .linked-abslute,
.hero-section .hero-social-icons .facebook-abslute:hover,
.hero-section .hero-social-icons .instagram-abslute:hover,
.hero-section .hero-social-icons .youtube-abslute:hover,
.hero-section .hero-social-icons .whatsapp-abslute:hover {
  opacity: 1;
}
@media screen and (max-width: 1025px) {
  .hero-container {
    max-width: 90%;
    margin: auto;
    padding: 7.5rem 0rem 3rem;
  }
  .header-first {
    width: 86%;
  }
}
@media (width<769px) {
  .hero-social-icons {
    width: 100%;
    justify-content: space-evenly;
    right: 0;
  }
  .submit-container button {
    padding: 0.7rem 3rem;
  }
  .header-first {
    width: 100%;
  }
  .or-yellow {
    width: 50%;
  }
}
/* ---------------------------------------------- available opportunities ------------------------------*/
.available-opportunities-section {
  position: relative;
  padding: 7.5rem 0;
}

.topRightRedVector {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}
.available-opportunities-heading {
  text-align: center;
}
.careers-header {
  font-size: 1.75rem;
  font-family: rubikSemiBold-600;
  line-height: 1.625rem;
  color: var(--Ternary-Ternary);
}
.careers-paragraph-heading {
  padding: 4rem 0 1.5rem;
  color: var(--Nuturals-N-2);
  font-family: rethinkMedium-500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  max-width: 75%;
  margin: auto;
}
.hightlight-red-mini {
  color: var(--Primary-Primary);
  font-family: rethinkExtraBold-800;
  font-size: 1.5rem;
  line-height: 1.625rem;
}
.swiper-container1 {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}
.courses-container {
  padding: 2rem 0.2rem 2rem;
  flex-direction: row !important;
  border-bottom: 0.25px solid var(--Nuturals-N-3);
  border-top: 0.25px solid var(--Nuturals-N-3);

  width: 100%;
}
.swiper-container1 .courses-container .swiper-slide .swiper-slide-inner {
  border-radius: 1px;
  border: 0.25px solid var(--Nuturals-N-3);
  height: 7.5rem !important;
  padding: 1rem 0.6rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.swiper-slide {
  margin-top: 0 !important;
  padding: 10px;
}
.apply-now-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.applynow-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Nuturals-N-7);
  font-family: rubikBold-700;
  font-size: 0.875rem;
  opacity: 0;
}
.swiper-slide-inner:hover .apply-now-svg,
.swiper-slide-inner:hover .applynow-txt {
  opacity: 1;
}
.starting-date {
  color: var(--Primary-Primary);
  font-family: rubikRegular-400;
  font-size: 0.875rem;
}
.course-name {
  color: var(--Nuturals-N-3);
  text-align: center;
  font-family: rubikRegular-400;
  font-size: 1rem;
  line-height: 1.375rem;
}
/* ------------------------------------------------ experience section ---------------------------------- */
.experience-section {
  padding: 7.5rem 0;
  max-width: 72.2%;
  margin: auto;
}
.experience-section .careers-paragraph-heading {
  max-width: 100%;
}
.experience-section .vector {
  width: 70%;
}
.tailored-form-section {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 1000;
}
.vector-red-down-left {
  position: absolute;
  right: -100px;
  top: -180px;
}

.tailored-form-section .form-container {
  border: 1px solid var(--Nuturals-N-3);
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5px;
}

/* details */
.tailored-form-section .form-container .contact-datails {
  border-bottom: 1px solid var(--Nuturals-N-2);
  padding-bottom: 1rem;
}
.tailored-form-section .form-container .contact-datails p {
  width: 40%;
  padding: 1rem 4rem;
  text-align: center;
  margin: auto;
  background-color: var(--Nuturals-N-7);
  border-bottom: 2px solid var(--Nuturals-N-3);
  font-family: rethinkBold-700;
}

.tailored-form-section .form-container .contact-datails .name-phone-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1.5rem 2rem;
  flex-direction: row;
}
.tailored-form-section
  .form-container
  .contact-datails
  .name-phone-container
  .name-container {
  width: 45%;
  position: relative;
  overflow: hidden;
}
.tailored-form-section
  .form-container
  .contact-datails
  .name-phone-container
  .name-container
  input {
  width: 100%;
  padding: 0.9rem 2rem 0.9rem 3.5rem;
  outline: none;
  background-color: #f9f9f9;
  border: none;
  border-right: 2px solid var(--Nuturals-N-3);
  font-size: 0.9rem;
}
.tailored-form-section
  .form-container
  .contact-datails
  .name-phone-container
  .name-container
  img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.tailored-form-section
  .form-container
  .contact-datails
  .name-phone-container
  .phone-container {
  width: 45%;
  position: relative;
  overflow: hidden;
}
.tailored-form-section
  .form-container
  .contact-datails
  .name-phone-container
  .phone-container
  input {
  width: 100%;
  padding: 0.9rem 2rem 0.9rem 3.5rem;
  outline: none;
  background-color: #f9f9f9;
  border: none;
  border-right: 2px solid var(--Nuturals-N-3);
  font-size: 0.9rem;
}
.tailored-form-section
  .form-container
  .contact-datails
  .name-phone-container
  .phone-container
  img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* email & country */
.tailored-form-section
  .form-container
  .contact-datails
  .email-country-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem 2rem;
  flex-direction: row;
}
.tailored-form-section
  .form-container
  .contact-datails
  .email-country-container
  .email-container {
  width: 45%;
  position: relative;
  overflow: hidden;
}
.tailored-form-section
  .form-container
  .contact-datails
  .email-country-container
  .email-container
  input {
  width: 100%;
  padding: 0.9rem 2rem 0.9rem 3.5rem;
  outline: none;
  background-color: #f9f9f9;
  border: none;
  border-right: 2px solid var(--Nuturals-N-3);
  font-size: 0.9rem;
}
.tailored-form-section
  .form-container
  .contact-datails
  .email-country-container
  .email-container
  img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.tailored-form-section
  .form-container
  .email-country-container
  .country-container {
  width: 45%;
  position: relative;
  overflow: hidden;
}
.tailored-form-section
  .form-container
  .contact-datails
  .email-country-container
  .country-container
  input {
  width: 100%;
  padding: 0.9rem 2rem 0.9rem 3.5rem;
  outline: none;
  background-color: #f9f9f9;
  border: none;
  border-right: 2px solid var(--Nuturals-N-3);
  font-size: 0.9rem;
}
.tailored-form-section
  .form-container
  .contact-datails
  .email-country-container
  .country-container
  img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* message & request  */

.tailored-form-section .form-container .message-request {
  border-bottom: 1px solid var(--Nuturals-N-2);
}
.tailored-form-section .form-container .message-request p {
  width: 40%;
  padding: 1rem 4rem;
  margin: auto;
  background-color: var(--Nuturals-N-7);
  border-bottom: 2px solid var(--Nuturals-N-3);
  font-family: rethinkBold-700;
  text-align: center;
}

.tailored-form-section .form-container .message-container {
  padding: 0rem 1.5rem 3rem;
  margin-top: 3rem;
}
.tailored-form-section .form-container .message-container textarea {
  width: 100%;
  border: none;
  border-left: 2px solid var(--Nuturals-N-2);
  border-right: 2px solid var(--Nuturals-N-2);
  padding: 10px;
  background-color: #f9f9f9;
  outline: none;
  min-height: 200px;
  max-height: 200px;
  font-size: 0.9rem;
}

/* references */

.tailored-form-section .form-container .referece-courses p {
  width: 40%;
  padding: 1rem 4rem;
  margin: auto;
  background-color: var(--Nuturals-N-7);
  border-bottom: 2px solid var(--Nuturals-N-3);
  font-family: rethinkBold-700;
  text-align: center;
}

.file-insert-container {
  position: relative;
  padding: 0rem 1.5rem 0rem;
  margin: 3rem 0rem;
}

.file-insert-container input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.file-insert-container input[type='text'] {
  width: 100%;
  border: none;
  border-left: 2px solid var(--Nuturals-N-2);
  border-right: 2px solid var(--Nuturals-N-2);
  padding: 10px;
  background-color: var(--Nuturals-N-6);
  outline: none;
  font-size: 0.9rem;
  padding: 1rem 3.7rem;
}
.file-insert-container img {
  height: 20px;
  cursor: pointer;
}
.tailored-form-section .form-container .file-insert-container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}
.tailored-form-section .form-container .file-insert-container label img {
  height: 100%;
}

.submit-container {
  margin-top: 15px;
  border: 1px solid var(--Nuturals-N-3);
}
.cv-letter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.file-insert-container {
  position: relative;
}

.cv-img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  z-index: 1;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.submit-container .submit-container-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
}

.submit-container button {
  display: block;
  margin: 1rem auto;
  padding: 0.7rem 6rem;
  border-radius: 1px;
  border: none;
  outline: none;
  background-color: var(--Nuturals-N-3);
  color: var(--Nuturals-White);
}

.submit-container button img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.submit-container .left-side-submit {
  position: relative;
  padding-left: 1.6rem;
  width: 50%;
  color: var(--Nuturals-N-1);
}

.submit-container .left-side-submit .custom-checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Hide the default checkbox */
.submit-container .left-side-submit .custom-checkbox input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

/* Style the custom checkbox appearance */
.submit-container .left-side-submit .checkmark {
  position: absolute;
  left: 0%;
  transform: translateY(-50%);
  top: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--Nuturals-White);
  /* Set default background color */
  border-radius: 3px;
  border: 1px solid var(--Primary-Primary);
  display: flex;
}

/* Show a checkmark when the checkbox is checked */
.submit-container
  .left-side-submit
  .custom-checkbox
  input:checked
  + .checkmark:after {
  content: '';
  position: absolute;
  display: block;
  left: 35%;
  top: 7%;
  transform: translateX(-50%);
  width: 6px;
  height: 12px;
  border: solid var(--Primary-Primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.submit-container .right-side-submit {
  position: relative;
  padding-left: 1.6rem;
  color: var(--Nuturals-N-1);
}

.submit-container .right-side-submit .custom-checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Hide the default checkbox */
.submit-container .right-side-submit .custom-checkbox input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

/* Style the custom checkbox appearance */
.submit-container .right-side-submit .checkmark {
  position: absolute;
  left: 0%;
  transform: translateY(-50%);
  top: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--Nuturals-White);
  /* Set default background color */
  border-radius: 3px;
  border: 1px solid var(--Primary-Primary);
  display: flex;
}

/* Show a checkmark when the checkbox is checked */
.submit-container
  .right-side-submit
  .custom-checkbox
  input:checked
  + .checkmark:after {
  content: '';
  position: absolute;
  display: block;
  left: 35%;
  top: 7%;
  transform: translateX(-50%);
  width: 6px;
  height: 12px;
  border: solid var(--Primary-Primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.highlighted-from-text {
  color: var(--Primary-Primary);
}
.swiper-navigation-pagination {
  position: relative;
  margin-top: 3rem;
}
.experience-button-next,
.experience-button-prev {
  background-color: var(--Nuturals-N-2);
  height: 2rem;
  width: 2.5rem;
  border-radius: 2px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.swiper-navigation {
  display: flex;
  justify-content: center;
  gap: 15rem;
  align-items: center;
}
.swiper-pagination-bullet {
  height: 0.5rem;
  width: 2.5rem;
  border-radius: 1px;
}
.swiper-pagination-bullet-active {
  background-color: var(--Nuturals-N-2);
}
@media (width <1025px) {
  .experience-section {
    width: 90%;
    margin: auto;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .name-phone-container
    .name-container
    input,
  .tailored-form-section
    .form-container
    .contact-datails
    .name-phone-container
    .phone-container
    input,
  .tailored-form-section
    .form-container
    .contact-datails
    .email-country-container
    .email-container
    input,
  .tailored-form-section
    .form-container
    .contact-datails
    .email-country-container
    .country-container
    input {
    padding-left: 5rem;
  }
  .cv-letter-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .file-insert-container:last-of-type {
    margin-top: 0;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .name-phone-container {
    flex-direction: column;
  }
  .tailored-form-section .form-container .contact-datails p {
    width: 50%;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .name-phone-container
    .name-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .name-phone-container
    .phone-container {
    width: 100%;
  }
  .tailored-form-section .form-container .message-request p {
    width: 50%;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .email-country-container {
    flex-direction: column;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .email-country-container
    .email-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .tailored-form-section
    .form-container
    .contact-datails
    .email-country-container
    .country-container {
    width: 100%;
  }

  .tailored-form-section .form-container .referece-courses p {
    width: 50%;
  }
  .submit-container .submit-container-inner {
    flex-direction: column;
  }
  .submit-container .left-side-submit {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
  .submit-container .right-side-submit {
    padding-left: 2rem;
    width: 100%;
  }
  .custom-checkbox {
    width: 10px;
    height: 10px;
  }
  .checkmark {
    width: 10px;
    height: 10px;
  }
  html {
    font-size: 80%;
  }
}
@media (width<768px) {
  .experience-button-next,
  .experience-button-prev {
    display: none;
  }
  .tailored-form-section {
    padding-top: 5rem;
  }
  .optional {
    display: none;
  }
  .vector-red-down-left {
    right: -20px;
    top: -30px;
    width: 100px;
    height: 100px;
  }
  .course-category-heading .cities-heading-paragraph {
    width: 85%;
  }
  .tailored-form-section .form-container .referece-courses p {
    width: 85%;
    padding: 1rem 2rem;
  }
  .tailored-form-section .form-container .message-request p {
    width: 85%;
    padding: 1rem 2rem;
  }
  .tailored-form-section .form-container .contact-datails p {
    width: 85%;
    padding: 1rem 2rem;
  }
  .submit-container .submit-container-inner {
    padding: 2rem 1rem;
  }
  .submit-container .left-side-submit {
    padding-left: 2rem;
  }
  .submit-container .right-side-submit {
    padding-left: 2rem;
  }
}
.optional {
  margin-right: 1rem;
  font-family: rethinkRegular-400;
  font-size: 0.75rem;
  color: var(--NuturalsN-5);
}
.vector {
  width: 50%;
}
/* ------------------------------------------------- FOOTER ---------------------------------------------- */
.footer {
  background-image: url(../Assets/Footer\ Bg.png);
  margin-top: 4rem;
  min-height: 48rem;
  width: 100%;
  position: relative;
}
.footerLogos-container {
  width: 100%;
  overflow: hidden;
}
.footer-absolute-logo-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 51%;
  /* width: 100%; */
}
.footer-absolute-logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -1rem;
}
.footer-contents-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0;
}
.footer-separator {
  position: absolute;
  top: 64%;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSide-footer,
.rightSide-footer {
  display: flex;
  justify-content: space-between;
}
.leftSide-footer {
  padding: 0 3rem;
}
.rightSide-footer {
  margin: 2rem 0 1rem;
  padding-left: 4rem;
}
.more-details-container {
  width: 31%;
  padding-left: 2rem;
}
.contact-info-container {
  width: 34%;
  padding-left: 2rem;
}
.main-pages-container {
  margin-bottom: 4.813rem;
  width: 30%;
}
.quick-access-container {
  width: 30%;
}
.footer-content-heading {
  width: 65%;
  display: flex;
  gap: 0.5rem;
  color: var(--Nuturals-N-7);
  font-family: rubikSemiBold-600;
  margin-bottom: 2rem;
  font-size: 1.375rem;
  line-height: 1.875rem;
  border-bottom: 1px solid var(--Nuturals-N-7);
}
.footer-content-list {
  color: var(--Nuturals-N-6);
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-content-list-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.footer-content-list-item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.footer-form-container {
  background-color: var(--Nuturals-N-6);
  border-radius: 5rem 5rem 0px 0px;
  min-height: 31.75rem;
  max-width: 30.5rem;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form-header {
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikMedium-500;
  font-size: 2rem;
  line-height: 2.25rem;
  padding: 2rem 0 0.75rem;
}
.footer-form-secondary-header {
  padding-bottom: 2rem;
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikRegular-400;
  font-size: 1.125rem;
}
.footer-form-socialIcon {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  border-radius: 1px;
  border: 2px dashed var(--Nuturals-N-1);
  padding: 0.3rem;
  margin-bottom: 2.125rem;
}
.footer-form-socialIcon > img {
  display: block;
}
.envelope-icon-container {
  padding: 2rem 0 0.625rem;
}
.assurance-message-form-txt {
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikRegular-400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 60%;
}
.footer-form-input-container {
  border-radius: 1px;
  border: 0.5px solid var(--Nuturals-N-1, #140000);
  background-color: var(--Nuturals-N-7);
  position: relative;
  width: 90%;
  margin-bottom: 1rem;
}
.footer-formInput {
  padding: 0.813rem 5.5rem 0.813rem 0.875rem;
  border: none;
  width: 100%;
}
.footer-formInput::placeholder {
  color: var(--Nuturals-N-4);
  font-family: rethinkRegular-400;
  font-size: 1rem;
}
.footer-form-gmail-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
  border: none;
  border-radius: 1px;
  background: var(--Ternary-Ternary);
  color: var(--Nuturals-White);
  padding: 0.625rem 1.094rem;
}
.successfullySentTxt {
  padding-bottom: 0.813rem;
  color: var(--Success-Success---Primary);
  font-family: rethinkBold-700;
  font-size: 1.125rem;
  opacity: 0;
}
.footer-copyright {
  background: linear-gradient(90deg, #670709 0%, #62520f 224.57%);
  color: var(--Nuturals-White);
  text-align: center;
  font-family: rubikMedium-500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
}
@media (width<1300px) {
  .footer-separator {
    top: 66%;
  }
}
@media (1024px< width <1125px) {
  .footer-content-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1125px) {
  .footer-contents-container .leftSide-footer,
  .footer-contents-container .rightSide-footer {
    flex-direction: column;
  }
  .footer {
    padding-top: 4rem;
    padding-bottom: 500px;
  }
  .footer-separator {
    display: none;
  }
  .leftSide-footer {
    padding-top: 8rem;
  }
  .main-pages-container,
  .quick-access-container,
  .more-details-container,
  .contact-info-container {
    width: 99%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .more-details-container {
    padding-left: 0;
  }
  .rightSide-footer {
    padding: 0rem 3rem;
    gap: 1rem;
  }
  .contact-info-container {
    padding-left: 0;
  }
  .footer-form-container {
    width: 70%;
  }
}
@media (769px < width <1025px) {
  .footer-form-container {
    width: 80%;
    max-width: none;
  }
  .footer-form-socialIcon {
    gap: 1.5rem;
    width: 60%;
  }
  .footer-absolute-logo {
    width: 170px;
    height: 170px;
  }
  .more-details-container {
    padding-left: 0;
  }
}
@media (500px < width <768px) {
  .footer-content-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-absolute-logo-container {
    width: 100%;
  }
  .footer-content-heading {
    width: 61%;
  }
  .footer-form-socialIcon {
    gap: 1rem;
    width: 90%;
  }
  .footer-absolute-logo {
    width: 170px;
    height: 135px;
  }
  .footer-content-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-form-container {
    width: 80%;
  }
  .rightSide-footer {
    padding-right: 1rem !important;
  }
}
@media (399px < width <501px) {
  .footer-form-socialIcon {
    gap: 0.8rem;
    width: 95%;
  }
  .leftSide-footer {
    padding: 0 1rem !important;
  }
  .rightSide-footer {
    padding-left: 1rem !important;
  }
  .footer-absolute-logo {
    width: 170px;
    height: 115px;
  }
  .footer-form-container {
    width: 80%;
  }
  .footer-absolute-logo-container {
    width: 100%;
  }
}
@media (width<400px) {
  .footer-form-container {
    width: 90%;
  }
  .footer-form-socialIcon {
    width: 95%;
    gap: 0.3rem;
  }
  .footer-absolute-logo {
    height: 95px;
  }
  .assurance-message-form-txt {
    max-width: 90%;
  }
  .footer-content-heading {
    width: 70%;
  }
  .more-details-container {
    padding-right: 0px;
  }
  .leftSide-footer {
    padding: 0 1rem !important;
  }
  .rightSide-footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 3rem;
  }
  .footer {
    padding-bottom: 530px;
  }
  .footer-absolute-logo-container {
    width: 100%;
  }
}