@font-face {
  font-family: rubikRegular-400;
  src: url(../Assets//Rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubikMedium-500;
  src: url(../Assets//Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikSemiBold-600;
  src: url(../Assets//Rubik/Rubik-SemiBold.ttf);
}
@font-face {
  font-family: rubikBold-700;
  src: url(../Assets//Rubik/Rubik-Bold.ttf);
}
@font-face {
  font-family: rethinkRegular-400;
  src: url(../Assets/Rethink_sans/RethinkSans-Regular.ttf);
}
@font-face {
  font-family: rethinkMedium-500;
  src: url(../Assets/Rethink_sans/RethinkSans-Medium.ttf);
}
@font-face {
  font-family: rethinkBold-700;
  src: url(../Assets/Rethink_sans/RethinkSans-Bold.ttf);
}
@font-face {
  font-family: rethinkExtraBold-800;
  src: url(../Assets/Rethink_sans/RethinkSans-ExtraBold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Nuturals-N-1: #140000;
  --Nuturals-N-2: #262121;
  --Nuturals-N-3: #594e4e;
  --Nuturals-N-7: #fcfcfc;
  --Nuturals-N-6: #f2eded;
  --Nuturals-White: #fff;
  --Primary-Primary: #ad1519;
  --Ternary-Ternary: #140000;
  --NuturalsN-5: #bfb6b6;
  --secondary: #fee1e1;
  --Success-Success---Primary: #16ad38;
  --Secondary-Secondary: #fabd00;
}
html {
  font-size: 100%;
}
p {
  margin-bottom: 0 !important;
}
.navbar-toggle-container {
  width: 40px;
  background-color: rgba(128, 128, 128, 0.589);
  height: 100%;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  color: black;
}
::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Primary);
  border-radius: 0;
  height: 80px;
}

/* --------------------------------------------- navbar -------------------------------------------------- */
.navigationBar {
  background-color: var(--Nuturals-White);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  max-height: 80px;
  color: var(--Nuturals-N-1);
  box-shadow: 0px 0px 5px 0px rgba(20, 0, 0, 0.16);
}
.navigationBar .nav-list-container {
  margin: auto;
}
.navigationBar ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  margin-right: 1rem;
  align-self: center;
}
.navigationBar ul li {
  height: 100%;
  /* margin: 0px 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-list {
  background-color: var(--secondary);
}
.active-list a {
  color: var(--Primary-Primary) !important;
  font-family: rubikSemiBold-600 !important;
}
.navigationBar ul li a {
  text-decoration: none;
  color: var(--Nuturals-N-1);
  text-align: center;
  /* line-height: 80px; */
  padding: 0px 1.4rem;
  height: 80px;
  font-family: rubikRegular-400;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 300ms;
}
.navigationBar ul li a:hover .down-arrow-nav-absolute {
  opacity: 1;
}
.down-arrow-nav {
  margin-left: 1rem;
}
.down-arrow-nav-absolute {
  position: absolute;
  right: 1.4rem;
  opacity: 0;
  transition: all 300ms;
}
.navigationBar ul li a:hover {
  color: var(--Primary-Primary);
}
.navigationBar ul li a:hover path {
  fill: var(--Primary-Primary) !important;
}
.navigationBar .header-search-bar {
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
  cursor: pointer;
}

.navigationBar .changeTo-arabic-courses-box .arabic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.changeTo-arabic-courses-box {
  background-color: var(--Ternary-Ternary);
  padding: 0.438rem 0.5rem 0.438rem 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  height: 3rem;
  cursor: pointer;
}
.arabic-course-txt {
  color: var(--Nuturals-White);
  font-family: rubikRegular-400;
  font-size: 0.875rem;
  margin: 0 !important;
}
.navigationBar .navigation-bar-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end !important;
  margin-left: auto;
}
.logo-image {
  padding: 0.938rem 2rem 0.938rem 0;
}
.navigationBar .nav-list-container .nav-icon-toggler {
  display: none !important;
  margin-left: 1rem;
  position: relative;
  height: 100% !important;
}

.navigationBar .nav-icon-toggler p {
  color: #ad1519;
  height: 80px;
  padding: 0rem 1.25rem;
  text-align: center;
  font-family: rethinkExtraBold-800;
  background-color: var(--secondary);
  line-height: 80px;
}
.navigationBar .nav-icon-toggler svg {
  margin-left: 10px;
  height: 25px;
}
/* toggler items */
.navigationBar .nav-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  left: 0px;
  top: 100%;
  background-color: white;
  width: 30rem;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.navigationBar .nav-items-container .nav-toggler-item {
  padding: 20px 10px;
  border: 0.7px solid rgba(105, 105, 105, 0.39);
  text-align: center;
}
.navigationBar .nav-items-container .careers {
  grid-column: span 2;
  text-align: center;
}

.navigationBar .categories-dropdown-nav {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Nuturals-White);
  border: 1px solid var(--NuturalsN-5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  transition: 0.3s;
}
#categories-dropdown-collapse {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Nuturals-White);
  border: 1px solid var(--NuturalsN-5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  transition: 0.3s;
}
.navigationBar .categories-dropdown-nav .categories-dropdown-item {
  padding: 1rem 1rem 10px 0.7rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-right: 1px solid var(--NuturalsN-5); /* Add right border */
  border-bottom: 1px solid var(--NuturalsN-5); /* Add bottom border */
}
.navigationBar .categories-dropdown-nav .categories-dropdown-item:hover {
  color: var(--Nuturals-White);
  background-color: var(--Primary-Primary);
  cursor: pointer;
}
.navigationBar .categories-dropdown-nav::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Primary);
  border-radius: 1px;
  border: var(--Nuturals-N-6);
  width: 10px;
}
.navigationBar .categories-dropdown-nav::-webkit-scrollbar {
  width: 6px;
  border-radius: 1px;
  background-color: rgba(245, 227, 227, 0.2);
  border: 1px solid var(--Nuturals-N-6);
}

.navigationBar .cities-dropdown-nav {
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Nuturals-White);
  border: 1px solid var(--NuturalsN-5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  transition: 0.3s;
}
.navigationBar .cities-dropdown-nav .cities-dropdown-item {
  padding: 1rem 3rem 10px 0.7rem;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-right: 1px solid var(--NuturalsN-5); /* Add right border */
  border-bottom: 1px solid var(--NuturalsN-5); /* Add bottom border */
}
.navigationBar .cities-dropdown-nav .cities-dropdown-item:hover {
  color: var(--Nuturals-White);
  background-color: var(--Primary-Primary);
  cursor: pointer;
}
.navigationBar .cities-dropdown-nav::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Primary);
  border-radius: 1px;
  border: var(--Nuturals-N-6);
  width: 10px;
}
.navigationBar .cities-dropdown-nav::-webkit-scrollbar {
  width: 6px;
  border-radius: 1px;
  background-color: rgba(245, 227, 227, 0.2);
  border: 1px solid var(--Nuturals-N-6);
}
.navigationBar ul li a svg {
  margin-left: 10px !important  ;
}
.navigationBar ul li a svg path {
  transition: all 0.5s;
}
.navigationBar ul li a:hover path {
  fill: var(--Primary-Primary) !important;
}
.navigationBar .nav-items-container .nav-toggler-item a{
  text-decoration: none;
  color: var(--Nuturals-N-1);
}
@media (1024px < width <1240px) {
  .logo-image {
    padding-right: 0.5rem;
    width: 148px;
  }
  .navigationBar .nav-list-container ul li a {
    padding: 0px 0.5rem;
  }
  .navigationBar {
    padding: 0px 0.8rem;
  }
}

@media (width<1025px) {
  .header-section {
    height: 70vh;
  }
  .navigationBar .nav-list-container ul {
    display: none;
  }
  .navigationBar {
    justify-content: space-between;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .nav-list-container .nav-icon-toggler {
    display: flex !important;
    margin-left: 1rem;
    margin: auto;
  }
  .navbar-home-item {
    max-height: 80px;
  }
  .navigationBar .header-search-bar {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
  }
  .navigationBar .nav-items-container {
    left: 50%;
    transform: translateX(-50%);
  }
  .navigation-bar-right-side {
    margin-left: 0 !important;
  }
  #categories-dropdown-collapse {
    width: 80%;
  }
}

@media (width<600px) {
  .navigationBar {
    padding: 0 0.5rem;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .nav-icon-toggler {
    margin: 0 !important;
    margin-right: 1px;
  }
  .logo-image {
    padding: 0.938rem 0rem 0.938rem 0;
  }
  .changeTo-arabic-courses-box p {
    display: none;
  }
  .navigationBar .header-search-bar {
    height: 3rem;
    width: 3rem;
    margin-right: 5px;
  }

  .navigationBar .nav-items-container {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (width<400px) {
  .navigationBar {
    padding: 0 0.1rem;
    max-height: 70px;
    /* overflow: hidden; */
  }
  .navigationBar .nav-list-container .nav-icon-toggler {
    max-height: 70px;
    overflow: hidden;
  }
  .nav-items-container {
    top: 71px !important;
  }
  .logo-image {
    width: 120px;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .header-search-bar {
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 1px;
  }
  .changeTo-arabic-courses-box {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*------------------------------------------- course category heading --------------------------------------------*/
.course-category-heading {
  position: relative;
  z-index: 10;
  padding-top: 10rem;
  padding-bottom: 4rem;
}
.course-category-heading .flag-cities-abslute {
  position: absolute;
  right: 0;
  bottom: 60%;
}

.course-category-heading .category-heading-container h1 {
  position: relative;
  width: 100%;
  text-align: center;
}

.course-category-heading
  .category-heading-container
  h1
  .heading-left-vector-abslute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30%;
}
.course-category-heading
  .category-heading-container
  h1
  .heading-right-vector-abslute {
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.course-category-heading .cities-heading-paragraph {
  font-family: rethinkRegular-400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--Nuturals-N-2);
  text-align: center;
  width: 73%;
  margin: auto;
}

.hightlight-red {
  color: var(--Primary-Primary);
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: rethinkExtraBold-800;
}
@media (width<768px) {
  .heading-right-vector-abslute {
    width: 19% !important;
    top: 52% !important;
  }
  .heading-left-vector-abslute {
    width: 19% !important;
  }
}
@media (width<400px) {
  .heading-right-vector-abslute {
    width: 13% !important;
  }
  .heading-left-vector-abslute {
    width: 13% !important;
  }
}
/*------------------------------------------ cities and venues section ------------------------------------------ */
.cities-venues-section {
  padding: 7.5rem 0 5rem;
  position: relative;
}
.vector-red-up-right {
  position: absolute;
  top: 0;
  right: 0;
}
.vector-red-down-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cities-heading-paragraph {
  font-family: rethinkRegular-400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--Nuturals-N-2);
  text-align: center;
  padding: 2rem 3rem;
}
.hightlight-red {
  color: var(--Primary-Primary);
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: rethinkExtraBold-800;
}
.wrapper-container {
  overflow: hidden;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.cities-venues-section .wrapper-container .cities-wrapper {
  display: flex !important;
  transition: transform 0.5s ease-in-out;
}
.cities-venues-section .container-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  max-width: 85%;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding: 4rem 0;
  min-width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 60px;
}

.cities-image-abslute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.j,
.h,
.i,
.g,
.f,
.k,
.o,
.m {
  margin-top: -120px;
}
.cities-courses-card {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--Nuturals-N-6);
  position: relative;
  font-family: rubikRegular-400;
}
.cities-courses-card:hover .courses-city-details,
.cities-courses-card:hover {
  background: rgba(38, 33, 33, 0.705);
}
.search-div-style:hover .courses-city-details,
.search-div-style:hover {
  background: rgba(38, 33, 33, 0.705);
}
.courses-city-details {
  position: relative;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-by-toggler {
  background-color: var(--Primary-Primary);
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 200;
}
.cities-courses-card .courses-city-average,
.cities-courses-card .view-course-city,
.online-courses-bookmark-content .view-course-city-bookmark {
  opacity: 0;
}
.search-div-style .courses-city-average,
.search-div-style .view-course-city,
.online-courses-bookmark-content .view-course-city-bookmark {
  opacity: 0;
}
.cities-courses-card:hover .courses-city-average,
.cities-courses-card:hover .view-course-city,
.online-courses-bookmark-content:hover .view-course-city-bookmark {
  opacity: 1;
}
.search-div-style:hover .courses-city-average,
.search-div-style:hover .view-course-city,
.online-courses-bookmark-content:hover .view-course-city-bookmark {
  opacity: 1;
}
.courses-city-details .courses-city {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: rubikMedium-500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--Nuturals-White);
}
.courses-avrg-view {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
}
.courses-city-average {
  font-family: rubikRegular-400;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem 0 2.125rem;
  text-align: center;
  color: var(--Nuturals-White);
}
.courses-city-details .view-course-city {
  border-radius: 1px;
  border: 0.25px solid rgba(191, 182, 182, 0.5);
  background: rgba(255, 255, 255, 0);
  font-size: 0.75rem;
  height: 1.75rem;
  position: relative;
  bottom: 0;
  cursor: pointer;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10px;
}
.courses-city-details .view-course-city .right-arrow-mini {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.online-courses-bookmark-content .view-course-city-bookmark {
  border-radius: 1px;
  border: 0.25px solid rgba(191, 182, 182, 0.5);
  background: rgba(255, 255, 255, 0);
  font-size: 0.75rem;
  position: relative;
  cursor: pointer;
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-course-city p,
.online-courses-bookmark-content .view-course-city-bookmark p {
  padding: 0.5rem 1rem;
  color: var(--Nuturals-N-6);
}
.container-container-cities {
  max-width: 95%;
  margin: 0 auto;
}

.b,
.d {
  margin-top: 120px;
}
.i,
.g {
  margin-top: 0px;
}

.online-courses-bookmark-box {
  margin: auto;
  position: relative;
  z-index: 100;
  background-color: var(--Nuturals-N-7);
}
.bookmark-icon {
  position: absolute;
  top: 0;
  left: 0.438rem;
}
.onlineCourse-bookmarkIcon {
  margin-top: -170px;
  border: 1px solid black;
}
.cities-courses-card:hover > * {
  color: var(--Nuturals-N-6);
}
.online-courses-bookmark-box .img-on-hover,
.online-courses-bookmark-box .img-on-hover-cap,
.on-hover-white-arrow {
  opacity: 0;
}
.online-courses-bookmark-box:hover .img-on-hover,
.online-courses-bookmark-box:hover .img-on-hover-cap {
  opacity: 1;
  z-index: 1;
}

.see-all-cities-div:hover {
  color: var(--Nuturals-N-6);
}

.img-on-hover-cap {
  position: absolute;
  transform: translateX(-100%);
}
.online-courses-bookmark-box:hover {
  background: var(--Nuturals-N-2);
}
.online-courses-bookmark-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 0;
  z-index: 10;
  position: relative;
  color: var(--Nuturals-N-2);
}
.online-course-img {
  margin-top: 0.75rem;
}
.online-courses-bookmark-header {
  font-family: rubikMedium-500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 0.25rem;
  padding: 0.938rem 0;
}
.online-courses-bookmark-content .online-courses-bookmark-txt {
  line-height: 1rem;
  font-family: rubikRegular-400;
  font-size: 1rem;
  margin-bottom: 2.125rem;
}
.navigation-cities {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 14.5rem;
  align-items: center;
  padding: 3rem 0;
}
.cities-button-prev,
.cities-button-next {
  background-color: var(--Nuturals-N-2);
  padding: 0.5rem 0.75rem;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-item {
  width: 2.5rem;
  height: 0.5rem;
  border-radius: 3px;
  background-color: var(--Nuturals-N-6);
  margin: 0 0.4rem;
  cursor: pointer;
}

.pagination-item.active {
  background-color: var(--Nuturals-N-2);
  border-radius: 3px;
}
.view-cities-venues {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  text-align: center;
  border: 0.5px solid var(--Nuturals-N-2);
  background: var(--Nuturals-N-7);
  backdrop-filter: blur(2.5px);
  margin: auto;
  width: 30%;
  padding: 0.938rem 2.25rem;
  position: relative;
  cursor: pointer;
  color: var(--Nuturals-N-2);
}
.view-cities-venues p {
  text-align: end;
  font-family: rubikMedium-500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.view-cities-venues svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.view-cities-venues:hover {
  color: var(--Nuturals-N-7);
  background-color: var(--Nuturals-N-2);
}
.view-cities-venues:hover path {
  fill: #fff !important;
}
.cities-venues-section .cities-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4rem;

  position: relative;
}
.cities-venues-section .cities-search .left-side-search {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cities-venues-section .cities-search .left-side-search .order-by {
  color: var(--Nuturals-White);
  background-color: var(--Primary-Primary);
  padding: 11px 20px;
}
.cities-venues-section .cities-search .left-side-search select {
  width: 180px;
  border-radius: 1px;
  padding: 10px 15px;
  outline: none !important;
  border: 1px solid var(--Primary-Primary);
  color: var(--Primary-Primary);
  appearance: none; /* Remove default arrow in some browsers */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  background-image: url(../Assets/red-arrow.svg);
  position: relative;
}
.cities-venues-section .cities-search .left-side-search select option:hover {
  background-color: var(--Primary-Primary);
  color: var(--Nuturals-White);
}

.cities-venues-section .cities-search .left-side-search select:focus {
  border: 1px solid var(--Primary-Primary);
  box-shadow: none;
  outline: none !important;
}
.cities-search-input {
  position: relative;
}
.cities-search-input input {
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  outline: none;
  border: 1px solid var(--NuturalsN-5);
}
.cities-search-input img {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.search-div-style {
  width: 20%;
  height: 15rem;
  position: relative;
}

.cities-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}
@media (767px < width <1025px) {
  .cities-venues-section {
    padding: 7.5rem 3rem 5rem;
  }
  .cities-venues-section .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    padding: 5rem 2rem;
    max-width: 80%;
  }
  .b {
    margin-top: -120px;
  }
  .d {
    margin-top: -240px;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .f,
  .i {
    margin-top: -370px;
  }
  .h {
    margin-bottom: 120px;
  }
  .e {
    margin-bottom: 120px;
    margin-top: -120px;
  }
  .g {
    margin-top: -240px;
  }
  .c {
    margin-bottom: 120px;
  }
  .j {
    margin-top: -240px;
  }
  .l {
    margin-top: -250px;
  }
  .o {
    margin-top: -250px;
  }
  .onlineCourse-bookmarkIcon {
    margin-top: -200px;
    border: 1px solid black;
  }
  .cities-venues-section .wrapper-container .cities-wrapper {
    padding-top: 7rem;
  }
  .cities-heading-paragraph {
    padding: 4rem;
  }
  .view-cities-venues {
    width: 60%;
  }
  .cities-courses-card .courses-city-average,
  .cities-courses-card .view-course-city,
  .online-courses-bookmark-content .view-course-city-bookmark {
    opacity: 1;
  }
  .search-div-style .courses-city-average,
  .search-div-style .view-course-city,
  .online-courses-bookmark-content .view-course-city-bookmark {
    opacity: 1;
    color: var(--Nuturals-White);
  }
  .search-div-style {
    width: 40%;
    height: 15rem;
    position: relative;
  }
  .cities-search {
    padding: 0rem 0rem !important;
  }
}

@media (width<768px) {
  .vector-red-down-left {
    width: 150px;
    height: 150px;
  }
  .cities-venues-section .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .b,
  .d,
  .f,
  .i,
  .l,
  .o,
  .j,
  .h,
  .k,
  .m {
    margin: 0;
  }

  .onlineCourse-bookmarkIcon {
    margin-top: -50px;
    border: 1px solid black;
  }
  .view-cities-venues {
    width: 90%;
  }
  .cities-button-prev,
  .cities-button-next {
    display: none;
  }
  .cities-venues-section .pagination-container {
    margin: auto;
  }
  .cities-courses-card .courses-city-average,
  .cities-courses-card .view-course-city,
  .online-courses-bookmark-content .view-course-city-bookmark {
    opacity: 1;
  }
  .search-div-style .courses-city-average,
  .search-div-style .view-course-city,
  .online-courses-bookmark-content .view-course-city-bookmark {
    opacity: 1;
    color: var(--Nuturals-White);
  }
  .vector-red-up-right {
    width: 200px;
    height: 200px;
  }
  .cities-heading-paragraph {
    padding: 0.5rem 0;
  }
  .search-div-style {
    width: 65%;
    height: 15.5rem;
    position: relative;
  }
  .order-by-toggler {
    display: block !important;
    left: 1rem;
  }
  .left-side-search {
    display: none !important;
  }
  .cities-search {
    padding: 0rem 0rem !important;
    padding-right: 1rem !important;
    justify-content: flex-end !important;
  }
  .cities-search-input {
    align-self: flex-end;
    width: 70%;
  }
  .cities-search-input input {
    /* align-self: flex-end; */
    width: 100%;
    font-size: 14px;
  }
}
@media (width<400px) {
  .view-cities-venues {
    width: 99%;
  }
  .view-course-city p {
    padding: 15px;
  }
  .cities-search-input input {
    /* align-self: flex-end; */
    width: 100%;
    font-size: 11px;
  }
}

/* ------------------------------------------------- FOOTER ---------------------------------------------- */
.footer {
  background-image: url(../Assets/Footer\ Bg.png);
  margin-top: 4rem;
  min-height: 48rem;
  width: 100%;
  position: relative;
}
.footerLogos-container {
  width: 100%;
  overflow: hidden;
}
.footer-absolute-logo-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 51%;
  /* width: 100%; */
}
.footer-absolute-logo {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -1rem;
}
.footer-contents-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 0;
}
.footer-separator {
  position: absolute;
  top: 64%;
  left: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSide-footer,
.rightSide-footer {
  display: flex;
  justify-content: space-between;
}
.leftSide-footer {
  padding: 0 3rem;
}
.rightSide-footer {
  margin: 2rem 0 1rem;
  padding-left: 4rem;
}
.more-details-container {
  width: 31%;
  padding-left: 2rem;
}
.contact-info-container {
  width: 34%;
  padding-left: 2rem;
}
.main-pages-container {
  margin-bottom: 4.813rem;
  width: 30%;
}
.quick-access-container {
  width: 30%;
}
.footer-content-heading {
  width: 65%;
  display: flex;
  gap: 0.5rem;
  color: var(--Nuturals-N-7);
  font-family: rubikSemiBold-600;
  margin-bottom: 2rem;
  font-size: 1.375rem;
  line-height: 1.875rem;
  border-bottom: 1px solid var(--Nuturals-N-7);
}
.footer-content-list {
  color: var(--Nuturals-N-6);
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-content-list-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.footer-content-list-item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.footer-form-container {
  background-color: var(--Nuturals-N-6);
  border-radius: 5rem 5rem 0px 0px;
  min-height: 31.75rem;
  max-width: 30.5rem;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form-header {
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikMedium-500;
  font-size: 2rem;
  line-height: 2.25rem;
  padding: 2rem 0 0.75rem;
}
.footer-form-secondary-header {
  padding-bottom: 2rem;
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikRegular-400;
  font-size: 1.125rem;
}
.footer-form-socialIcon {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  border-radius: 1px;
  border: 2px dashed var(--Nuturals-N-1);
  padding: 0.3rem;
  margin-bottom: 2.125rem;
}
.footer-form-socialIcon > img {
  display: block;
}
.envelope-icon-container {
  padding: 2rem 0 0.625rem;
}
.assurance-message-form-txt {
  color: var(--Nuturals-N-1);
  text-align: center;
  font-family: rubikRegular-400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 60%;
}
.footer-form-input-container {
  border-radius: 1px;
  border: 0.5px solid var(--Nuturals-N-1, #140000);
  background-color: var(--Nuturals-N-7);
  position: relative;
  width: 90%;
  margin-bottom: 1rem;
}
.footer-formInput {
  padding: 0.813rem 5.5rem 0.813rem 0.875rem;
  border: none;
  width: 100%;
}
.footer-formInput::placeholder {
  color: var(--Nuturals-N-4);
  font-family: rethinkRegular-400;
  font-size: 1rem;
}
.footer-form-gmail-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
  border: none;
  border-radius: 1px;
  background: var(--Ternary-Ternary);
  color: var(--Nuturals-White);
  padding: 0.625rem 1.094rem;
}
.successfullySentTxt {
  padding-bottom: 0.813rem;
  color: var(--Success-Success---Primary);
  font-family: rethinkBold-700;
  font-size: 1.125rem;
  opacity: 0;
}
.footer-copyright {
  background: linear-gradient(90deg, #670709 0%, #62520f 224.57%);
  color: var(--Nuturals-White);
  text-align: center;
  font-family: rubikMedium-500;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
}
@media (width<1300px) {
  .footer-separator {
    top: 66%;
  }
}
@media (1024px< width <1125px) {
  .footer-content-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1125px) {
  .footer-contents-container .leftSide-footer,
  .footer-contents-container .rightSide-footer {
    flex-direction: column;
  }
  .footer {
    padding-top: 4rem;
    padding-bottom: 500px;
  }
  .footer-separator {
    display: none;
  }
  .leftSide-footer {
    padding-top: 8rem;
  }
  .main-pages-container,
  .quick-access-container,
  .more-details-container,
  .contact-info-container {
    width: 99%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .more-details-container {
    padding-left: 0;
  }
  .rightSide-footer {
    padding: 0rem 3rem;
    gap: 1rem;
  }
  .contact-info-container {
    padding-left: 0;
  }
  .footer-form-container {
    width: 70%;
  }
}
@media (769px < width <1025px) {
  .footer-form-container {
    width: 80%;
    max-width: none;
  }
  .footer-form-socialIcon {
    gap: 1.5rem;
    width: 60%;
  }
  .footer-absolute-logo {
    width: 170px;
    height: 170px;
  }
  .more-details-container {
    padding-left: 0;
  }
}
@media (500px < width <768px) {
  .footer-content-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-absolute-logo-container {
    width: 100%;
  }
  .footer-content-heading {
    width: 61%;
  }
  .footer-form-socialIcon {
    gap: 1rem;
    width: 90%;
  }
  .footer-absolute-logo {
    width: 170px;
    height: 135px;
  }
  .footer-content-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-form-container {
    width: 80%;
  }
  .rightSide-footer {
    padding-right: 1rem !important;
  }
}
@media (399px < width <501px) {
  .footer-form-socialIcon {
    gap: 0.8rem;
    width: 95%;
  }
  .leftSide-footer {
    padding: 0 1rem !important;
  }
  .rightSide-footer {
    padding-left: 1rem !important;
  }
  .footer-absolute-logo {
    width: 170px;
    height: 115px;
  }
  .footer-form-container {
    width: 80%;
  }
  .footer-absolute-logo-container {
    width: 100%;
  }
}
@media (width<400px) {
  .footer-form-container {
    width: 90%;
  }
  .footer-form-socialIcon {
    width: 95%;
    gap: 0.3rem;
  }
  .footer-absolute-logo {
    height: 95px;
  }
  .assurance-message-form-txt {
    max-width: 90%;
  }
  .footer-content-heading {
    width: 70%;
  }
  .more-details-container {
    padding-right: 0px;
  }
  .leftSide-footer {
    padding: 0 1rem !important;
  }
  .rightSide-footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 3rem;
  }
  .footer {
    padding-bottom: 530px;
  }
  .footer-absolute-logo-container {
    width: 100%;
  }
}
