@font-face {
  font-family: rubikRegular-400;
  src: url(../Assets//Rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubikMedium-500;
  src: url(../Assets//Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikSemiBold-600;
  src: url(../Assets//Rubik/Rubik-SemiBold.ttf);
}
@font-face {
  font-family: rubikBold-700;
  src: url(../Assets//Rubik/Rubik-Bold.ttf);
}
@font-face {
  font-family: rethinkRegular-400;
  src: url(../Assets/Rethink_sans/RethinkSans-Regular.ttf);
}
@font-face {
  font-family: rethinkMedium-500;
  src: url(../Assets/Rethink_sans/RethinkSans-Medium.ttf);
}
@font-face {
  font-family: rethinkBold-700;
  src: url(../Assets/Rethink_sans/RethinkSans-Bold.ttf);
}
@font-face {
  font-family: rethinkExtraBold-800;
  src: url(../Assets/Rethink_sans/RethinkSans-ExtraBold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Nuturals-N-1: #140000;
  --Nuturals-N-2: #262121;
  --Nuturals-N-3: #594e4e;
  --Nuturals-N-7: #fcfcfc;
  --Nuturals-N-6: #f2eded;
  --Nuturals-White: #fff;
  --Primary-Primary: #ad1519;
  --Ternary-Ternary: #140000;
  --NuturalsN-5: #bfb6b6;
  --secondary: #fee1e1;
}
html {
  font-size: 100%;
}
.navbar-toggle-container {
  width: 40px;
  background-color: rgba(128, 128, 128, 0.589);
  height: 100%;
}
.navigationBar {
  /* position: fixed !important;
  top: 0;
  left: 0; */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 2.5rem;
  position: absolute;
  z-index: 100;
  background: rgba(128, 128, 128, 0.486);
  max-height: 80px;
}
.navigationBar ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  margin-right: 1rem;
}
.navigationBar ul li {
  height: 100%;
  margin: 0px 15px;
  align-items: center;
}
.navigationBar ul li .navbar-home-list-item {
  color: #ad1519;
  height: 80px;
  padding: 0rem 1.25rem;
  text-align: center;
  font-family: rethinkExtraBold-800;
  background-color: var(--secondary);
  line-height: 80px;
  font-weight: 700;
}
.navigationBar ul li a {
  text-decoration: none;
  color: var(--Nuturals-White);
}
.navigationBar .header-search-bar {
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
}

.navigationBar .changeTo-arabic-courses-box .arabic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.changeTo-arabic-courses-box {
  background-color: var(--Ternary-Ternary);
  padding: 0.438rem 0.5rem 0.438rem 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  height: 3rem;
}
.arabic-course-txt {
  color: var(--NuturalsN-5);
  font-family: rubikRegular-400;
  font-size: 0.875rem;
  margin: 0 !important;
}
.navigationBar .navigation-bar-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-image {
  padding: 0.938rem 2rem 0.938rem 0;
}
.navigationBar .nav-list-container .nav-icon-toggler {
  display: none !important;
  margin-left: 1rem;
  position: relative;
  height: 100% !important;
}

.navigationBar .nav-icon-toggler p {
  color: #ad1519;
  height: 80px;
  padding: 0rem 1.25rem;
  text-align: center;
  font-family: rethinkExtraBold-800;
  background-color: var(--secondary);
  line-height: 80px;
}
.navigationBar .nav-icon-toggler svg {
  margin-left: 10px;
  height: 25px;
}
/* toggler items */
.navigationBar .nav-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  left: 0px;
  top: 81px;
  background-color: white;
  width: 30rem;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.navigationBar .nav-items-container .nav-toggler-item {
  padding: 20px 10px;
  border: 0.7px solid rgba(105, 105, 105, 0.39);
  text-align: center;
}
.navigationBar .nav-items-container .careers {
  grid-column: span 2;
  text-align: center;
}

@media (1024px < width <1240px) {
  .logo-image {
    padding-right: 0.5rem;
    width: 148px;
  }
  .navigationBar {
    padding: 0 0.8rem;
  }
  .navigationBar .nav-list-container ul li {
    margin: 0px 8px;
  }
}

@media (width<1025px) {
  .header-section {
    height: 70vh;
  }
  .navigationBar .nav-list-container ul {
    display: none;
  }
  .navigationBar {
    justify-content: space-between;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .nav-list-container .nav-icon-toggler {
    display: flex !important;
    margin-left: 1rem;
  }
  .navbar-home-item {
    max-height: 80px;
  }
  .navigationBar .header-search-bar {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
  }
  .navigationBar .nav-items-container {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (width<600px) {
  .navigationBar {
    padding: 0 0.5rem;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .nav-icon-toggler {
    margin: 0 !important;
    margin-right: 1px;
  }
  .logo-image {
    padding: 0.938rem 0rem 0.938rem 0;
  }
  .changeTo-arabic-courses-box p {
    display: none;
  }
  .navigationBar .header-search-bar {
    height: 3rem;
    width: 3rem;
    margin-right: 5px;
  }

  .navigationBar .nav-items-container {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (width<400px) {
  .navigationBar {
    padding: 0 0.1rem;
    max-height: 70px;
    /* overflow: hidden; */
  }
  .navigationBar .nav-list-container .nav-icon-toggler {
    max-height: 70px;
    overflow: hidden;
  }
  .nav-items-container {
    top: 71px !important;
  }
  .logo-image {
    width: 120px;
  }
  .navigationBar .nav-icon-toggler p {
    height: 80px;
    padding: 0rem 1.25rem;
  }
  .navigationBar .header-search-bar {
    height: 2.3rem;
    width: 2.3rem;
    margin-right: 1px;
  }
  .changeTo-arabic-courses-box {
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*--------------------------------------------- hero section ----------------------------------------------*/
.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.header-section .logo-image {
  width: 8.75rem;
  height: 3.125rem;
}

.header-section .header-social-icons {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-section .header-social-icons .left-side-icons,
.header-section .header-social-icons .right-side-icons {
  display: flex;
  padding: 15px;
}
.header-section .header-social-icons .right-side-icons {
  gap: 0.8rem;
}
.icon-header-container {
  margin-right: 10px;
  background-color: #716a6744;
  border-radius: 50%;
  padding: 0.5rem;
}
.searchCourseByName-hero-section-container {
  background-color: var(--Nuturals-N-1);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61%;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.searchCourseByName-hero-section-container input {
  width: 100%;
  padding: 0.688rem 0.25rem 0.688rem 0.875rem;
}
.searchCourseByName-hero-section-container input:focus {
  outline: none;
}
.searchIcon-courseByName {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.75rem;
  width: 2.5rem;
  height: 2.5rem;
}

@media (681px < width <1025px) {
  .header-section {
    height: 70vh;
  }
  .header-section .header-social-icons .left-side-icons {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .header-section .header-social-icons .right-side-icons {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
@media (width < 681px) {
  .header-section {
    height: 80vh;
  }
  .searchCourseByName-hero-section-container {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.8rem;
  }
  .searchIcon-courseByName {
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }
  .header-section .header-social-icons {
    justify-content: space-evenly;
    bottom: 50px;
  }
}
/* ------------------------------------------  UPCOMING TRAINING COURSES --------------------------------------------*/
.coming-training-section {
  padding: 7.5rem 0 5rem;
  width: 100%;
}
.q-scroll-chat {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1rem 1.25rem;
}

.header-teritary {
  text-align: center;
  color: var(--Ternary-Ternary);
  font-family: rubikSemiBold-600;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 1.25rem;
}
.vector {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.comingSoon-container {
  text-align: center;
}
.comingSoon {
  padding: 2.688rem 0;
  font-family: rubikBold-700;
}
.coming-training-card-container {
  padding: 0 !important;
}
.coming-training-card {
  padding: 0;
  border-radius: 2px;
  min-height: 25rem;
  border-bottom: 4px solid var(--Nuturals-N-3);
  background: var(--Nuturals-N-7);
  font-size: 0.875rem;
  transition: 500ms;
}
.coming-training-card:hover {
  background: var(--Nuturals-N-6);
}
.coming-training-card-header,
.coming-training-card-img {
  width: 100%;
}
.coming-training-card-content {
  text-align: center;
}
.coming-training-card-content .card-paragraph {
  font-family: rubikMedium-500;
  line-height: 1.313rem;
  color: var(--Nuturals-N-3);
  padding: 0.625rem 0.875rem;
}
.card-date-container,
.card-details-container {
  font-family: rethinkMedium-500;
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
}
.card-date-container img {
  width: 2.8rem !important;
  height: 1rem;
}
.card-date-container p {
  margin: 0;
}
.card-details-container {
  padding: 1.125rem 0 0.813rem;
}
.card-date-container img {
  width: 46px !important;
  height: 16px !important;
}
.card-details-city {
  border-left: 1px solid #ddd9d9;
  border-right: 1px solid #ddd9d9;
  padding: 0 0.625rem;
}
.card-details-container :nth-child(3) {
  font-family: rethinkBold-700;
  font-size: 1rem;
}
.coming-training-card-footer {
  background-color: var(--Nuturals-N-3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 0.8rem 0rem;
  transition: 500ms;
  margin-bottom: 0.313rem;
  position: relative;
}
.view-course-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: rubikRegular-400;
  color: var(--Nuturals-White);
}
.view-course-box p {
  margin: 0;
}
.coming-training-card-footer .right-arrow {
  /* margin-left: 1rem; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  right: 5px;
  top: 30%;
}
.coming-training-section .owl-dot.active span {
  color: black !important;
  background-color: black !important;
}
.coming-training-card:hover .coming-training-card-footer {
  opacity: 1;
}
.coming-training-card:hover .coming-training-card-content .card-paragraph {
  font-family: rubikSemiBold-600;
}

.coming-training-section .owl-prev,
.coming-training-section .owl-next,
.top-courses-section .owl-next,
.top-courses-section .owl-prev {
  position: relative;
  color: #fff !important ;
  font-size: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0px;
  background-color: black !important;
  padding-bottom: 10px !important;
  margin-right: 200px;
  height: 1rem;
  width: 1rem;
}

.coming-training-section .owl-carousel,
.top-courses-section .owl-carousel {
  width: 91.5%;
  margin: auto;
  padding: 20px 0px;
}
.coming-training-section .owl-carousel .owl-dots,
.top-courses-section .owl-carousel .owl-dots {
  display: block;
  margin-top: 40px;
}
.coming-training-section .owl-carousel .owl-dots span {
  width: 2.5rem;
  height: 0.5rem;
}
.owl-carousel .owl-nav {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-dots {
  margin-top: -30px !important;
}
.owl-carousel .owl-nav button.owl-prev,
.custom-navigation button.owl-prev {
  margin-right: 150px;
  height: 2rem;
  width: 3rem;
  color: #fff;
  padding-bottom: 15px !important;
}
.owl-carousel .owl-nav button.owl-next,
.custom-navigation button.owl-next {
  height: 2rem;
  width: 3rem;
  color: #fff;
  padding-bottom: 15px !important;
}
.owl-dot.active span {
  color: black !important;
  background-color: black !important;
}
#carousel-row-1 .owl-dots,
#carousel-row-2 .owl-dots {
  display: none;
}
@media (width<681px) {
  .owl-carousel .owl-nav {
    display: none;
  }
  .owl-carousel .owl-dots {
    margin-top: 20px !important;
  }
  .coming-training-section .owl-carousel .owl-dots span {
    width: 2rem;
    height: 0.5rem;
  }
}
/*------------------------------------------ course cartegory section ------------------------------------------ */
.swiper-container {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100px;
  width:100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------courses category section ------------------------------------ */
.courses-category-section {
  padding: 5rem 5.5rem 5rem;
  display: flex;
  flex-direction: column;
}
.courses-category-article {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  gap: 8rem;
  margin-bottom: 1.25rem;
  position: relative;
}
.underline {
  margin-top: 0.5rem;
  padding: 0 !important;
}
.courses-category-section-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.courses-category-yellow-vector {
  position: absolute;
  left: 0;
  top: 0;
}

.courses-category-heading-paragraph {
  color: var(--Nuturals-N-2);
  font-size: 1.125rem;
  font-family: rethinkRegular-400;
  line-height: 1.875rem;
  padding: 1.5rem 0 1rem;
}
.view-courses-category {
  border-radius: 1px;
  border: 0.5px solid var(--Nuturals-N-2);
  background: var(--Nuturals-N-7);
  backdrop-filter: blur(2.5px);
  padding: 0.938rem 1.25rem;
  display: flex;
  justify-content: space-between;
  width: 16.25rem;
  font-size: 1.125rem;
  font-family: rubikRegular-400;
  line-height: 1.375rem;
}
.course-category-topOne {
  display: flex;
  gap: 0.75rem;
}
.course-category-card {
  border-radius: 0px 0px 2px 2px;
  border-bottom: 0.5px solid var(--Nuturals-N-3);
  background: var(--Nuturals-N-7);
  width: 15.5rem;
  min-height: 15.5rem;
}
.course-category-card-title {
  text-align: center;
  color: var(--Nuturals-N-2);
  font-family: rubikMedium-500;
  font-size: 1rem;
  height: 5rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-row-1 {
  margin-bottom: 1rem;
}
#carousel-row-1,
#carousel-row-2,
.custom-navigation {
  display: none;
}

@media screen and (max-width: 90em) {
  .course-category-topOne,
  .courses-category-section
    .category-courses-xl-carousel.owl-carousel.owl-loaded {
    display: none !important;
  }
  #carousel-row-1,
  #carousel-row-2,
  .custom-navigation {
    display: block;
  }
}
/*------------------------------------------ top courses section ------------------------------------------ */
.top-courses-section {
  background-image: url(../Assets/topCoursesOverlay.png);
  padding: 4rem 0;
}
.top-courses-heading {
  color: var(--Nuturals-White);
}
.top-courses-heading-paragraph {
  color: var(--Nuturals-N-7);
  text-align: center;
  font-family: rethinkMedium-500;
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin: 4rem;
  padding: 0 9.2rem;
}
.top-courses-section .coming-training-card-footer {
  background-color: var(--Primary-Primary);
}
.top-courses-section .coming-training-card {
  border-bottom: 4px solid var(--Primary-Primary);
}
.top-courses-section .owl-next,
.top-courses-section .owl-prev {
  background-color: var(--Nuturals-N-6) !important;
  color: var(--Nuturals-N-1) !important;
}
.top-courses-section .owl-dot.active span {
  color: var(--Nuturals-N-6);
  background-color: var(--Nuturals-N-6) !important;
}
.top-courses-section .owl-carousel .owl-dots .owl-dot span {
  width: 2.5rem;
  height: 0.5rem;
}
@media (width<681px) {
  .top-courses-section .owl-carousel .owl-dots .owl-dot span {
    width: 2rem;
    height: 0.5rem;
  }
}
/*------------------------------------------ cities and venues section ------------------------------------------ */
.cities-venues-section {
  padding: 7.5rem 0 5rem;
}
.cities-heading-paragraph {
  font-family: rethinkRegular-400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--Nuturals-N-2);
  text-align: center;
}
.cities-heading-paragraph span {
  color: var(--Primary-Primary);
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: rethinkExtraBold-800;
}
.wrapper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.cities-venues-section .wrapper-container .cities-wrapper {
  display: flex !important;
  transition: transform 0.5s ease-in-out;
  padding-top: 4rem;
}
.cities-venues-section .container-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  max-width: 80%;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding: 4rem 0;
  min-width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 60px;
}
.j,
.h,
.i,
.g,
.f,
.k,
.o,
.m {
  margin-top: -120px;
}
.cities-courses-card {
  width: 100%;
  border: 1px solid black;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--NuturalsN-5);

  font-family: rubikRegular-400;
}
.cities-courses-card:hover {
  background: rgba(38, 33, 33, 0.95);
}
.cities-courses-card:last-of-type:hover {
  background-color: #fff;
}
.courses-city-details .courses-city {
  margin-bottom: 4px;
  padding: 5rem 0 1.875rem;
  font-family: rubikMedium-500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: var(--Nuturals-White);
}
.courses-city-average {
  font-family: rubikRegular-400;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 2.125rem;
}
.courses-city-details .view-course-city {
  border-radius: 1px;
  border: 0.25px solid rgba(191, 182, 182, 0.5);
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  font-size: 0.75rem;
  position: relative;
  height: 1.75rem;
}
.view-course-city p {
  /* line-height: 1.375rem; */
  padding: 3px 2.625rem;
}
.courses-city-details .view-course-city .right-arrow-mini {
  position: absolute;
  top: 8px;
  right: 8px;
}
.a,
.b,
.c {
  background: orange;
}
.b,
.d {
  margin-top: 120px;
}
.i,
.g {
  margin-top: 0px;
}
.d,
.e,
.f {
  background: violet;
}

.g,
.h,
.i {
  background: lightgreen;
}

.j,
.k,
.l {
  background: cornflowerblue;
}
.online-courses-bookmark-box {
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background-color: white;
}
.bookmark-icon {
  position: absolute;
  top: 0;
  left: 0.438rem;
}
.onlineCourse-bookmarkIcon {
  margin-top: -170px;
  border: 1px solid black;
}
.online-courses-bookmark-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 0 4.375rem;
  color: var(--Nuturals-N-2);
  /* margin-top: -200px; */
}
.online-course-img {
  margin-bottom: 0.75rem;
}
.online-courses-bookmark-box {
  /* margin-top: -10px; */
}
.online-courses-bookmark-header {
  font-family: rubikMedium-500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 0.25rem;
  padding: 0.938rem 0;
}
.online-courses-bookmark-txt {
  line-height: 1rem;
  font-family: rubikRegular-400;
  font-size: 1rem;
}

@media (768px < width <1024px) {
  .cities-venues-section .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    padding: 5rem 2rem;
    max-width: 80%;
  }
  .b {
    margin-top: -120px;
  }
  .d {
    margin-top: -240px;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .f,
  .i {
    margin-top: -370px;
  }
  .h {
    margin-bottom: 120px;
  }
  .e {
    margin-bottom: 120px;
    margin-top: -120px;
  }
  .g {
    margin-top: -240px;
  }
  .c {
    margin-bottom: 120px;
  }
  .j {
    margin-top: -240px;
  }
  .l {
    margin-top: -250px;
  }
  .o {
    margin-top: -250px;
  }
  .onlineCourse-bookmarkIcon {
    margin-top: -200px;
    border: 1px solid black;
  }
}

@media (width<768px) {
  .cities-venues-section .container-cards {
    grid-template-columns: 1fr;
  }
  .b,
  .d,
  .f,
  .i,
  .l,
  .o,
  .j,
  .h,
  .k,
  .m {
    margin: 0;
  }

  .onlineCourse-bookmarkIcon {
    margin-top: -50px;
    border: 1px solid black;
  }
}
