@font-face {
  font-family: rubikRegular-400;
  src: url(../Assets//Rubik/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubikMedium-500;
  src: url(../Assets//Rubik/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikSemiBold-600;
  src: url(../Assets//Rubik/Rubik-SemiBold.ttf);
}
@font-face {
  font-family: rubikBold-700;
  src: url(../Assets//Rubik/Rubik-Bold.ttf);
}
@font-face {
  font-family: rethinkMedium-500;
  src: url(../Assets/Rethink_sans/RethinkSans-Medium.ttf);
}
@font-face {
  font-family: rethinkBold-700;
  src: url(../Assets/Rethink_sans/RethinkSans-Bold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Ternary-Ternary: #140000;
  --Nuturals-N-3: #594e4e;
  --Nuturals-N-7: #fcfcfc;
  --Nuturals-N-6: #f2eded;
  --Nuturals-White: #fff;
}

.navigationBar .nav-icon-toggler{
  display: none;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
}
.header-section .logo-image {
  width: 8.75rem;
  height: 3.125rem;
}
.navigationBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 2.2rem;
  position: absolute;
  z-index: 100;
}
.navigationBar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem;
}
.navigationBar ul li {
  margin: 0px 0px;
  padding: 1.563rem 1.25rem;
}
.navigationBar ul li a {
  text-decoration: none;
  color: var(--Nuturals-White);
}
.navigationBar .header-search-bar {
  height: 2rem;
  width: 2rem;
}
.header-section .header-social-icons {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-section .header-social-icons .left-side-icons,
.header-section .header-social-icons .right-side-icons {
  display: flex;
  padding: 15px;
}
.icon-header-container {
  margin-right: 10px;
  background-color: #716a6744;
  border-radius: 50%;
  padding: 0.5rem;
}
/* ------------------------------------------  UPCOMING TRAINING COURSES --------------------------------------------*/
.coming-training-section {
  width: 100%;
}
.q-scroll-chat {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1rem 1.25rem;
}

.header-teritary {
  text-align: center;
  color: var(--Ternary-Ternary);
  font-family: rubikSemiBold-600;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 1.25rem;
}

.coming-training-heading img {
  display: block;
  margin: 0 auto;
}
.coming-training-heading {
  position: relative;
}
.comingSoon-container {
  text-align: center;
}
.comingSoon {
  padding: 2.688rem 0;
  font-family: rubikBold-700;
}
/* .coming-training-card-container {
  gap: 1.5rem;
} */
.coming-training-card {
  padding: 0;
  /* margin: 0 0.75rem; */
  border-radius: 2px;
  border-bottom: 4px solid var(--Nuturals-N-3);
  background: var(--Nuturals-N-7);
  font-size: 0.875rem;
  transition: 400ms;
}
.coming-training-card:hover {
  background: var(--Nuturals-N-6);
}
.coming-training-card-header,
.coming-training-card-img {
  width: 100%;
}
.coming-training-card-content {
  text-align: center;
}
.coming-training-card-content .card-paragraph {
  font-family: rubikMedium-500;
  line-height: 1.313rem;
  color: var(--Nuturals-N-3);
  padding: 0.625rem 0.875rem;
}
.card-date-container,
.card-details-container {
  font-family: rethinkMedium-500;
  display: flex;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
}
.card-date-container img {
  width: 2.8rem !important;
  height: 1rem;
}
.card-date-container p {
  margin: 0;
}
.card-details-container {
  padding: 1.125rem 0 0.813rem;
}
.card-details-city {
  border-left: 1px solid #ddd9d9;
  border-right: 1px solid #ddd9d9;
  padding: 0 0.625rem;
}
.card-details-container :nth-child(3) {
  font-family: rethinkBold-700;
  font-size: 1rem;
}
.coming-training-card-footer {
  background-color: var(--Nuturals-N-3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 0.8rem 0rem;
  transition: 400ms;
  margin-bottom: 0.313rem;
  position: relative;
}
.view-course-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: rubikRegular-400;
  color: var(--Nuturals-White);
}
.view-course-box p {
  margin: 0;
}
.coming-training-card-footer .right-arrow {
  /* margin-left: 1rem; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  right: 5px;
  top: 30%;
}
.coming-training-card:hover .coming-training-card-footer {
  opacity: 1;
}
.coming-training-card:hover .coming-training-card-content .card-paragraph {
  font-family: rubikSemiBold-600;
}

.coming-training-section .owl-prev,
.coming-training-section .owl-next {
  position: relative;
  /* top: 35%; */
  /* transform: translateY(-50%); */
  color: #fff !important ;
  font-size: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0px;
  background-color: black !important;
  padding-bottom: 10px !important;
  margin-right: 200px;
  height: 3rem;
  width: 3rem;
  color: #fff;
}
.coming-training-section .owl-carousel {
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}
.coming-training-section .owl-carousel .owl-dots {
  display: block;
  margin-top: 40px;
}
.coming-training-section .owl-carousel .owl-dots span {
  width: 2.5rem;
  height: 0.5rem;
}
.coming-training-section .owl-carousel .owl-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-training-section .owl-carousel .owl-dots {
  margin-top: -30px !important;
}
.coming-training-section .owl-carousel .owl-nav button.owl-prev {
  margin-right: 150px;
  height: 2rem;
  width: 3rem;
  color: #fff;
  padding-bottom: 15px !important;
}
.coming-training-section .owl-carousel .owl-nav button.owl-next {
  height: 2rem;
  width: 3rem;
  color: #fff;
  padding-bottom: 15px !important;
}
.coming-training-section .owl-dot.active span {
  color: black !important;
  background-color: black !important;
}

/* ----------------------------------------- courses-category-section ------------------------------------------ */
